@font-face {
  font-family: SnapsTasteChristmas;
  src: url("../public/snaps_taste_christmas/Snaps\ Taste\ Christmas.otf")
    format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=EB+Garamond&display=swap");
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  --dark: #164a41;
  --medium: #4d774e;
  --light: #9dc88d;
  --accent: #f1b24a;
  --white: #f0f0f0;
  --black: #0f0f0f;
}
html {
  height: 100vh;
}
body {
  background-color: var(--dark);
  background-image: linear-gradient(
    to top right,
    var(--dark),
    var(--medium),
    var(--light)
  );
  font-family: "EB Garamond", serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
nav h1 {
  font-family: SnapsTasteChristmas;
  font-size: 5em;
}
nav h2,
nav #dropdown {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
  margin: 0;
}
nav h2 {
  font-size: 2em;
}
nav #dropdown {
  font-size: 1.5rem;
}
nav #dropdown .nav-links {
  display: flex;
  justify-content: space-around;
}
nav #dropdown .nav-links a {
  color: var(--accent);
}
nav #dropdown .nav-links a:hover,
nav h2:hover,
nav .lnr-chevron-up:hover {
  cursor: pointer;
}
#container {
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#modal {
  display: none;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  background-color: var(--white);
  width: 95%;
  box-shadow: 2px 2px 3px var(--black);
  max-width: 500px;
}
article {
  padding: 0.5rem;
  text-align: center;
}
article p {
  font-size: 1.5rem;
}
article h1 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
}
#close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
#modal img {
  max-width: 90%;
  box-shadow: 2px 2px 3px var(--black);
}
.button-group {
  display: flex;
  justify-content: space-between;
}
.button-group span {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--accent);
}
.button-group span:hover {
  background-color: var(--accent);
  cursor: pointer;
}
#dropdown {
  display: none;
}
.stamp {
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.stamp-text {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--black);
  width: 150px;
  height: 100px;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
