@font-face {
  font-family: SnapsTasteChristmas;
  src: url("../public/snaps_taste_christmas/Snaps\ Taste\ Christmas.otf")
    format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=EB+Garamond&display=swap");
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  --dark: #164a41;
  --medium: #4d774e;
  --light: #9dc88d;
  --accent: #f1b24a;
  --white: #f0f0f0;
  --black: #0f0f0f;
  --gray: #d3d3d3;
}
html {
  height: 100vh;
}
body {
  background-color: var(--medium);
  background-image: linear-gradient(to top, var(--medium) 20%, var(--white));
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond", serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 1rem;
}
nav h1 {
  font-family: SnapsTasteChristmas;
  font-size: 5em;
}
nav h2,
nav #dropdown {
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
  margin: 0;
}
nav h2 {
  font-size: 2em;
  background-color: var(--medium);
}
nav #dropdown {
  font-size: 1.5rem;
  background-color: var(--dark);
}
nav #dropdown strong {
  color: var(--white);
}
nav #dropdown .nav-links a {
  color: var(--gray);
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
nav #dropdown .nav-links a:hover,
nav h2:hover {
  cursor: pointer;
}
nav #dropdown .nav-links a:hover {
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  font-size: 3em;
}
section h3 {
  font-size: 1.5em;
}
section h3,
section h2 {
  text-align: center;
  color: var(--white);
}
#modal {
  display: none;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  width: 95%;
  box-shadow: 2px 2px 3px var(--black);
  max-width: 500px;
}
article {
  padding: 0.5rem;
  text-align: center;
  position: relative;
}
article p {
  font-size: 1.5rem;
}
article h1 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
}
article #close:hover {
  cursor: pointer;
}
#close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
#modal img {
  max-width: 90%;
  box-shadow: 2px 2px 3px var(--black);
}
.button-group {
  display: flex;
  justify-content: space-between;
}
.button-group span {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--light);
}
.button-group small {
  padding-top: 0.5rem;
  font-size: 1.5em;
  font-weight: 400;
}
.button-group span:hover {
  background-color: var(--light);
  cursor: pointer;
}
#dropdown {
  display: none;
}
#dropdown .nav-links {
  width: 30%;
}
#dropdown .nav-text {
  width: 70%;
}
#dropdown .nav-text p {
  color: var(--gray);
}
.stamp {
  width: 150px;
  height: 100px;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.stamp:hover {
  cursor: pointer;
}
.stamp-text {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--accent);
  width: 150px;
  height: 100px;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

@media (min-width: 500px) {
  /* body {
    background-image: linear-gradient(to top, var(--light) 30%, var(--white));
  } */
  aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}
